[submodule "liquidprompt"]
	path = files/bash/liquidprompt
	url = https://github.com/jaesivsm/liquidprompt.git
[submodule "syntastic"]
	path = files/vim/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "tlib_vim"]
	path = files/vim/tlib_vim
	url = https://github.com/tomtom/tlib_vim.git
[submodule "vim-addon-mw-utils"]
	path = files/vim/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "vim-colors-solarized"]
	path = files/vim/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "vim-fugitive"]
	path = files/vim/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim-sleuth"]
	path = vim-sleuth
	url = https://github.com/tpope/vim-sleuth.git
[submodule "ctrlp.vim"]
	path = files/vim/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "pydoc.vim"]
	path = files/vim/pydoc.vim
    url = https://github.com/fs111/pydoc.vim.git
[submodule "pyflakes-vim"]
    path = pyflakes-vim
    url = https://github.com/kevinw/pyflakes-vim.git
