[submodule "liquidprompt"]
	path = liquidprompt
	url = https://github.com/jaesivsm/liquidprompt.git
[submodule "syntastic"]
	path = syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "tlib_vim"]
	path = tlib_vim
	url = https://github.com/tomtom/tlib_vim.git
[submodule "vim-addon-mw-utils"]
	path = vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "vim-colors-solarized"]
	path = vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "vim-fugitive"]
	path = vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim-sleuth"]
	path = vim-sleuth
	url = https://github.com/tpope/vim-sleuth.git
[submodule "ctrlp.vim"]
	path = ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "pydoc.vim"]
	path = pydoc.vim
    url = https://github.com/fs111/pydoc.vim.git
[submodule "pyflakes-vim"]
    path = pyflakes-vim
    url = https://github.com/kevinw/pyflakes-vim.git
[submodule "pyflakes3-vim"]
	path = pyflakes-vim
	url = git@github.com:mathieui/pyflakes3-vim.git
